<footer class="p-2 shadow-lg" style="margin:100px 0 0 0;">
	<hr class="">
	<div class="container">
		<div class="container" style="padding: 30px 0 30px 0;">
			<div class="row shadow-lg">
				<div class="col-sm-6 p-5">
					<h1><b>Contact Us</b></h1>
					<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
					<div class="row">
						<form>
							<input type="text" class="border-0 border-bottom m-1" placeholder="Name" style="width: 300px; height: 50px;"><br>
							<input type="email" class="border-0 border-bottom m-1" placeholder="Enter your Email" style="width: 300px; height: 50px;"><br>
							<input type="email" class="border-0 border-bottom m-1" placeholder="Enter your Contact no" style="width: 300px; height: 50px;"><br>
							<button class="btn mt-3" style="background-color:rgb(204, 95, 162);" type="button">Submit</button>
						</form>
					</div>
				</div>
				<div class="col-sm-6 p-5 z-index-1">
					<div class="text-white p-5 bg-dark shadow-lg">
						<h1 class="text-white"><b> Info</b></h1>
						<p><i class="bi bi-envelope" style="color:rgb(204, 95, 162);"></i> infogmail.com</p>
						<p><i class="bi bi-phone" style="color:rgb(204, 95, 162);"></i> +908 988 899</p>
						<p><i class="bi bi-building" style="color:rgb(204, 95, 162);"></i> 14 greenload st.</p>
						<p><i class="bi bi-clock" style="color:rgb(204, 95, 162);"></i> 09:00-10:00</p></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 col-md-4">
				<div class="footer-brand">
					&copy; 2024 Company, Inc</div>
			</div>
			<div class="col-sm-4 col-md-4">
<img src="../../assets/viber_image_2024-11-13_21-06-04-913.jpg" alt="" height="50px"></div>
			<div class="col-sm-4 col-md-4">
				<ul class="list-unstyled m-2">
					<a href="#" class="m-2 " style="text-decoration: none;">Home</a>
					<a href="#" class="m-2"  style="text-decoration: none;">About</a>
					<a href="#" class="m-2"  style="text-decoration: none;">Compagin</a>
					<a href="../contact-us/contact-us.component.html" class="m-2"  style="text-decoration: none;">Contact us</a>
				</ul>
			</div>
		</div>
	</div>
</footer>