<footer class="p-2 shadow-lg" style="margin:100px 0 0 0;">
	<hr class="">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-md-4">
				<div class="footer-brand">
					&copy; 2024 Company, Inc</div>
			</div>
			<div class="col-sm-4 col-md-4">
<img src="../../assets/viber_image_2024-11-13_21-06-04-913.jpg" alt="" height="70px"></div>
			<div class="col-sm-4 col-md-4">
				<ul class="list-unstyled m-2">
					<a href="#" class="m-2 " style="text-decoration: none;">Home</a>
					<a href="#" class="m-2"  style="text-decoration: none;">About</a>
					<a href="#" class="m-2"  style="text-decoration: none;">Compagin</a>
					<a href="/src/app/contact-us/contact-us.component.html" class="m-2"  style="text-decoration: none;">Contact us</a>
				</ul>
			</div>
		</div>
	</div>
</footer>