<footer class="p-2 shadow-lg" style="margin:100px 0 0 0;">
	<hr class="">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-md-4">
				<div class="footer-brand">
					&copy; 2024 Company, Inc</div>
			</div>
			<div class="col-sm-4 col-md-4">
				<img src="../assets/logo-light.svg" style="height:50px; width: 100px;">
			</div>
			<div class="col-sm-4 col-md-4">
				<ul class="list-unstyled m-2">
					<a href="#" class="m-2 " style="text-decoration: none;">Home</a>
					<a href="#" class="m-2"  style="text-decoration: none;">About</a>
					<a href="#" class="m-2"  style="text-decoration: none;">Contact us</a>
					<a href="#" class="m-2"  style="text-decoration: none;">Contact us</a>
					<a href="#" class="m-2"  style="text-decoration: none;">Contact us</a>
				</ul>
			</div>
		</div>
	</div>
</footer>