<section class="right-0" style="margin-top: 100px; background-color:rgb(204, 95, 162)">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-6  col-md-6 p-3 mt-5">
				<img src="../../assets/02 (2).jpg" style="height:90%; width: 100%;" controls>
			</div>
			<div class="col-sm-4 col-md-5 mt-5 p-2 mt-5">
			<div class="row align-content-center " style="margin: 130px 0 0 30px;">
				<div class="col-sm-4 col-md-4 text-center" style="margin-right: 80px;">
						<i class="bi bi-alarm fs-1"></i>
						<h1 class=""><b>hi</b></h1>
						<p>hhhhhhhhhhh<br>hhhhhhhhhhh<br>hhhhhhhhhhh<br>hhhhhhhhhhh<br>hhhhhhhhhhh<br>hhhhhhhhhhh<br>hhhhhhhhhhh</p>
				</div>
				<div class="col-sm-4 col-md-4 text-center">
					<i class="bi bi-alarm fs-1"></i>
					<h1><b>hi</b></h1>
					<p>hhhhhhhhhhh<br>hhhhhhhhhhh<br>hhhhhhhhhhh<br>hhhhhhhhhhh<br>hhhhhhhhhhh<br>hhhhhhhhhhh<br>hhhhhhhhhhh</p>
				</div>			</div>
			</div>
			
		</div>
	</div>
</section>