<!-- <section class="right-0">
	<div class="container-fluid" style="background:url(../../assets/assets/Poster\ participation\ in\ blood\ donation\ campaign….jpeg) ; height: 500px; width: 1440;">
		
	</div>
</section> -->
<!-- <div class="col-sm-6  col-md-6" style="height: 500px; ">
	<img src="../../assets/assets/" style="height:100%; width: 100%;" controls>
</div> -->
<!-- <div class="col-sm-6 col-md-6 mt-5">
	<div class="" style="margin-right: 0px;">
		<h1>Sudhaar Nepal</h1>
		<p>Every drop counts! Your blood donation can save lives, offering hope and a second chance to those in need. Join us in our mission to make a difference. Whether it's helping accident victims, cancer patients, or those undergoing surgeries, your contribution matters more than you can imagine.
		</p>
</div>
</div> -->
<div class="container-fluid" style="background-image: url(../../assets/_Blood\ Donation\ Awareness_\ Magnet\ for\ Sale\ by\ 87-Aesthetics.jpeg); height:600px; width: 100%;" >
	<div class="row" >
		<h1 class="text-center" style="margin-top: 200px;">Sudhaar Nepal</h1>
		<div class="text-center">
			<p>चौतर्फी सुधार, हाम्रो आधार ।
			</p>
		</div>
			<div class="text-center">
					<button class="btn btn" style="margin-right: 10px; background-color: rgb(204, 95, 162); color: white;">Learn More</button> 
					<button class="btn btn-outline-dark" routerLink="/contactus" routerLinkActive="router-link-active" >Register Now</button>

				</div>

			<div class="col mt-5">
						</div>
	</div>
</div>
