<section class="right-0" style="margin: 100px 0; background-color:rgb(204, 95, 162);">
	<div class="container-fluid">
		<div class="row p-5">
			<div class="col-sm-6  col-md-6 p-5">
				<video src="../../assets/logo/2949519-uhd_2560_1440_30fps.mp4" style="height:100%; width: 100%;" controls></video>
			</div>
			<div class="col-sm-6 col-md-6 p-5" style="margin:0 0px 0px 0;">
				<h2 style="font-size: 40px;"><b>Headings</b></h2>
				<p class="mt-3" style="font-size: 18px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem
					ipsum dolor sit amet consectetur adipisicing elit. Animi, quod placeat quidem dolorum aliquam
					inventore rem enim accusantium dignissimos saepe odit nisi? Magnam libero nihil doloribus dolorem
					perspiciatis praesentium esse! Lorem ipsum dolor sit amet consectetur adipisicing elit.
					atque laboriosam nihil facilis, fugit possimus. Praesentium, ipsum eligendi!<br>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium officia itaque natus temporibus
					quia a aliquid harum perferendis minima? Error veniam mollitia hic magni quam est recusandae laborum
					optio quia.</p>
				<button class="btn btn-light">Learn More</button>
			</div>
		</div>
	</div>
</section>