<section class="right-0" style="margin: 100px 0; background-color:rgb(204, 95, 162);">
	<div class="container-fluid">
		<div class="row p-5">
			<div class="col-sm-4  col-md-4 shadow-lg" style="margin:0 0px 0px 20px;">
				<img src="../../assets/blood donation.jpeg" style="height:100%; width: 100%;" controls>
			</div>
			<div class="col-sm-6 col-md-6 text-white" style="margin:0 0px 0px 60px;">
				<h2 style="font-size: 40px;"><b>Save Lives</b></h2>
				<p class="mt-3" style="font-size: 18px;">Save Lives, Donate Blood Today! <br>

					Your blood could be someone’s second chance at life. Every drop counts, and a single donation can help save up to three lives. Join us in our mission to provide critical support to hospitals and patients in need. <br>
					
					🩸 Why Donate?<br>
					
					Blood has no substitute; it can only come from donors.
					Every 2 seconds, someone needs blood.
					Your donation can make a difference in emergencies, surgeries, and chronic illness care. <br>
					<!-- How to Help: <br>
					
					Visit our donation center or join our upcoming blood drive on [date].
					Bring a friend, and together, let’s make an impact.
					Share your experience on social media and encourage others to give the gift of life.
					Requirements to Donate: -->
					
					<!-- Be in good health and feeling well.
					Aged 17–65, with some exceptions for younger or older donors.
					Meet the minimum weight requirement (typically 110 pounds or 50 kg).
					Let’s come together to save lives—because every drop matters.</p> -->
				<button class="btn btn-outline-light mt-5">Learn More</button>
			</div>
		</div>
	</div>
</section>