<div class="container mt-5">
	<!-- Example row of columns -->
	<div class="row">
	  <div class="col-md-4">
		<h2>Types </h2>


		<b>Substance Abuse Rehabilitation: </b><br>
		Focuses on treating drug or alcohol dependency through detoxification, therapy, and long-term support to prevent relapse. <br>
		<b>Physical Rehabilitation:</b> <br>
		Aims to restore physical function and mobility for those recovering from injuries, surgeries, or disabilities. <br>
		<b>Mental Health Rehabilitation:</b> <br> Provides support for individuals managing conditions such as depression, anxiety, or schizophrenia, often through counseling and psychiatric care.		
		<!-- <p><a class="btn btn-dark" href="#" role="button">View details &raquo;</a></p> -->
	  </div>
	  <div class="col-md-4">
		<h2>		
			<b>Therapeutic Services:</b>
		</h2>

		<b>Medical Supervision:</b> <br>
		Many centers offer 24/7 medical care, including support for those with physical or withdrawal symptoms. <br>
		<b>Counseling and Therapy:</b> <br> Individual and group therapy sessions help individuals understand and address underlying issues. <br>
		<b>Occupational and Physical Therapy:</b> <br> For physical rehabilitation, these therapies help clients regain independence . <br>
	  </div>
	  <div class="col-md-4">
		<h2>Staff and Environment:</h2>
		Staff in a rehabilitation center usually include healthcare professionals, such as doctors, nurses, therapists, counselors, and social workers, all trained to support the recovery process. <br>
		The environment is often structured to provide stability, routine, and comfort, offering a calm, drug-free, and supportive atmosphere that encourages healing.<!-- <p><a class="btn btn-dark" href="#" role="button">View details &raquo;</a></p> -->
	  </div>
	</div>