 <section class="align-content-center text-center right-0" style="padding: 100px 0;">
  <h2 class="text-center">Our services</h2>
  <div class="container mt-5" style="margin-left: 100px;">
    <div class="owl-carousel owl-theme">
      <div class="item" style="height: 100%; width:100%"><img src="../../assets/02 (1).jpg" class="shadow-lg rounded-3">
        <h6 class="mt-2">Service 1</h6>
      </div>
      <div class="item" style="height: 100%; width:100%"><img src="../../assets/02 (1).jpg" class="shadow-lg rounded-3">
        <h6 class="mt-2">Service 2</h6>
      </div>
      <div class="item" style="height: 100%; width:100%"><img src="../../assets/02 (1).jpg" class="shadow-lg rounded-3">
        <h6 class="mt-2">Service 3</h6>
      </div>
      <div class="item" style="height: 100%; width:100%"><img src="../../assets/02 (1).jpg" class="shadow-lg rounded-3">
        <h6 class="mt-2">Service 4</h6>
      </div>
      <div class="item" style="height: 100%; width:100%"><img src="../../assets/02 (1).jpg" class="shadow-lg rounded-3">
        <h6 class="mt-2">Service 5</h6>
      </div>
      
  </div>
  </div>

</section>


