 <section class="align-content-center text-center right-0 shadow-lg p-5" style="padding: 0px 0 150px 0;">
  <h2 class="text-center">Our services</h2>
  <div class="row">
    <div class="col-md-3">
      <img src="../../assets/blood donation.jpeg" alt="" style="height: 100%; width: 100%;">
    </div>
    <div class="col-md-3">
      <img src="../../assets/_Blood Donation Awareness_ Magnet for Sale by 87-Aesthetics.jpeg" alt="" style="height: 100%; width: 100%;">
    </div>
    <div class="col-md-3">
      <img src="../../assets/Blood Donation app logo design.jpeg" alt="" style="height: 100%; width: 100%;">
    </div>
    <div class="col-md-3">
      <img src="../../assets/January is National Blood Donor Month - Blood Donations Needed!.jpeg" alt="" style="height: 100%; width: 100%;">
    </div>
  </div>

</section>


