<section class=" align-content-center text-center right-0">
	<div class="col-sm-12 col-md-12" style="margin: 50px 0">
		<i class="bi bi-droplet-half fs-2 text-danger"></i>		
		<h2 class="mt-3" style="font-size: 35px;"><b>How to help:</b></h2>
		<p class="mt-3" style="font-size: 20px;">
					
			Visit our donation center or join our upcoming blood drive on [date].
			Bring a friend, and together, let’s make an impact. Visit our donation center or join our upcoming blood drive on [date].
			Bring a friend, and together, let’s make an impact.Visit our donation center or join our upcoming blood drive on [date].
			Bring a friend, and together, let’s make an impact.
			Share your experience on social media and encourage others to give the gift of life. <br>
			</p>
	</div>
</section>