<section class="align-content-center text-center right-0" style="margin: 100px 0;">
	<div class="container">
		<div class="row position-relative">
			<div class="col-sm-2 col-md-4 p-3" style="color:#09b850;">
				<div class=""><i class="bi bi-boxes fs-1"></i></div>
				<h2 class="mt-4 text-success" style="font-size: 30px;"><b>Hi</b></h2>
				<p class="text-success"style="font-size: 17px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, sapiente
					molestias! Molestias ea reiciendis, porro, iste facilis quae aliquam esse maiores eius nam, quasi
					perspiciatis amet. Quidem molestiae nemo facere? porro, iste facilis quae aliquam esse.</p>
			</div>
			<div class="col-sm-2 col-md-4 p-3" style="color:#09b850;">
				<div class=""><i class="bi bi-broadcast fs-1" ></i></div>
				<h2 class="mt-4 text-success" style="font-size: 30px;"><b>Hi</b></h2>
				<p class="text-success" style="font-size: 17px;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus at,
					officia recusandae quibusdam reiciendis mollitia repellat enim ad magni, praesentium veritatis
					veniam soluta odit laudantium non? At eligendi asperiores assumenda?</p>
			</div>
			<div class="col-sm-2 col-md-4 p-3" style="color:#09b850;">
				<div class=""><i class="bi bi-building-fill-up fs-1"></i></div>
				<h2 class="mt-4 text-success" style="font-size: 30px;"><b>Hi</b></h2>
				<p class="text-success" style="font-size: 17px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, ad.
					Consectetur earum deserunt blanditiis ullam nemo itaque cum quisquam, eveniet temporibus doloremque
					adipisci officiis? Officia obcaecati quaerat unde consequuntur assumenda.</p>
			</div>
		</div>
	</div>
</section>